
<html lang="en-us" class="gr__127_0_0_1">
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">{% load static %}
<title>Add r1a</title>
        <center><h1><strong>R1 form</strong></h1></center>
<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'forms.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fonts.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'widgets.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'responsive.css' %}"> 
    </head>
<body>
    <div id="content-main">



<form action="" method="POST" id="r1a_form">{% csrf_token %}
<div>







  <fieldset class="module aligned ">
    
        <div class="form-row field-month">
            
            
                <div>
                    
                    
                       <!-- <label class="required" for="id_month">Month:</label>
                        
                            <input type="text" name="month" class="vTextField" maxlength="8" required="" id="id_month">-->
                    <label class="required">month</label> <select name="month" required="" id="id_month">
    <option value="april">april</option>
    <option value="may">may</option>
    <option value="june">june</option>
     <option value="july">july</option>
     <option value="august">august</option>
     <option value="september">september</option>
     <option value="october">october</option>
     <option value="november">november</option>
     <option value="december">december</option>
     <option value="january">january</option>
     <option value="february">february</option>
    <option value="march">march</option>

</select>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-taxable_value">
            
            
                <div>
                    
                    
                        <label class="required" for="id_taxable_value">Taxable value:</label>
                        
                            <input type="number" name="taxable_value" class="vIntegerField" required="" id="id_taxable_value">
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-cgst">
            
            
                <div>
                    
                    
                        <label class="required" for="id_cgst">Cgst:</label>
                        
                            <input type="number" name="cgst" class="vIntegerField" required="" id="id_cgst">
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-sgst">
            
            
                <div>
                    
                    
                        <label class="required" for="id_sgst">Sgst:</label>
                        
                            <input type="number" name="sgst" class="vIntegerField" id="id_sgst">
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-igst">
            
            
                <div>
                    
                    
                        <label class="required" for="id_igst">Igst:</label>
                        
                            <input type="number" name="igst" class="vIntegerField" required="" id="id_igst">
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-cess">
            
            
                <div>
                    
                    
                        <label class="required" for="id_cess">Cess:</label>
                        
                            <input type="number" name="cess" class="vIntegerField" required="" id="id_cess">
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-total">
            
            
                <div>
                    
                    
                        <label class="required" for="id_total">Total:</label>
                        
                            <input type="number" name="total" class="vIntegerField" required="" id="id_total">
                        
                    
                    
                </div>
            
        </div>
    
</fieldset>













<div class="submit-row">

<input type="submit" value="Save" class="" name="_save"><br><br>

    <a href="{% url 'login:R2afill' %}"><b><strong>take to R2</strong></b></a>

<!--<input type="submit" value="Save and add another" name="_addanother">
<input type="submit" value="Save and continue editing" name="_continue">-->


</div>

    </div>
</form></div>
    <a href="{% url 'login:index' %}">back</a>
    </body>
</html>