body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color:green;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
    background: #fff;
}
.navbar-goggles {
    background-color:#682060;
    width:100%;
    height:60px;
    border:0;
    color:#b9d6c3;
    font-family:'Open Sans',sans-serif;
    font-size:1em;
    font-weight:lighter;
    font-weight:300
}
